body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    min-width: 260px;
    height: auto;
    margin-top: 10%;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
}

#button-container {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

button {
    width: 60px;
    height: 60px;
    font-size: large;
    flex: none;
    margin: 0;
    border-radius: 25px;
    border: 0 solid black;
}

#display {
    text-align: right;
    font-size: 24px;
    width: 100%;
    background-color: rgb(145, 208, 219);
    padding-top: 40px;
    padding-bottom: 6px;
    border-radius: 10px;
    margin-bottom: 15px;

}

#clear {
    background-color: rgb(233, 131, 158);
    color: whitesmoke;
}

.operator {
    background-color: rgb(189 209 207);

}

#equals {
    background-color: rgb(138, 186, 134);
}